body {
    background-color: tan;
    padding-top: 130px;
    font-family: 'Courier New', Courier, monospace;
}

.head {
    background-color: gray;
    color: wheat;
    width: fit-content;
    padding: 5px;
    margin-top: 1px;
    border-radius: 5px;
}

.card-background {
    background-color: lightgray;
}

.card {
    background-color: slategray;
    color: wheat;
    padding: 20px;
}

.rm {
    position: absolute;
    right: 10px;
    font-weight: bold;
    font-size: 1.1rem;
    padding-block: 2px;
}